.image_container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    @media (max-width:450px) and (min-width:180px) {
        height: 80vh;
    }
    
    img {
        filter: brightness(0.4);
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: top;
    }

    .text_container {
        position: absolute;
        margin-top: 150px;
        @media (max-width:360px){
            margin-top: 20px;
            gap: 2px;
        }
        @media (max-width:450px) {
            margin-top: 40px;
            gap: 10px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: white;

        h1 {
            overflow-y: hidden;
            font-size: 5rem;
            text-align: center;
            text-wrap: nowrap;
            @media (max-width:900px) {
                font-size: 3rem;
            }
            @media (max-width:450px) and (min-width:180px) {
                font-size: 1rem;
            }            
        }

        h2 {
            overflow-y: hidden;
            font-size: 1.5rem;
            text-align: center;
            @media (max-width:900px) {
                font-size: 1rem;
            }
            @media(max-width:450px) and (min-width:180px) {
                font-size: 0.8rem;

            }
        }

        button {
            color: black;
            background: white;
            padding: 15px 25px;
            border-radius: 20px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            transition: scale 0.5s ease-in-out;
            &:hover{
                scale: 1.1;
            }
            @media (max-width:450px) and (min-width:180px) {
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }

    .data_container {
        position: absolute;
        display: flex;
        bottom: 50px;
        justify-content: space-between;
        width: 80%;
        @media (max-width:450px) and (min-width:180px) {
            flex-direction: column;
            gap: 20px;
        }
        .numbers {
            display: flex;
            justify-content: space-between;
            gap: 35px;
            width: fit-content;
            @media (max-width:900px) {
                gap: 20px;
            }
            @media (max-width:450px) and (min-width:180px) {
                gap: 5px;
            }
            @media (max-width:360px) {
                gap: 5px;
            }
            div {
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-self: flex-end;
                h3 {
                    font-size: 3rem;
                    @media (max-width:900px) {
                        font-size: 3rem;
                    }
                    @media (max-width:450px) and (min-width:180px) {
                        font-size: 1rem;
                    }
                    &:nth-of-type(2) {
                        font-size: 2rem;
                        @media (max-width:900px) {
                            font-size: 1rem;
                        }
                        @media (max-width:450px) and (min-width:180px) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
        .citation_container{
            display: flex;
            flex-direction: column;
            color: white;
            gap: 10px;
            width: 20%;
            @media (max-width:900px) {
                width: 40%;
            }
            @media (max-width:450px) and (min-width:180px) {
                width: fit-content;
                font-size: 0.5rem;
                gap: 5px;
            }
            font-size: 0.8rem;
        }
    }
}