*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    margin: 20px auto ;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
